body {
	margin-left: 5%;
	background-image: url(../images/1.png);
	background-position: fixed;
	margin-top: 50px;
	margin-right: 5%;
}

button{
	padding: 15px;
	background-color: rgba(0,0,0,0);
	text-decoration: none;
	border-radius: 10px;
	color: white;
	border: solid;
	border-color: white;
	width: 100%;
	margin-bottom: 20px;
}